
{{#containerBlock title="Lockbox File Viewer" toggleButton=true id="cb-lckbx"}}
        
    <form class="form-inline" method="post" enctype="multipart/form-data">
        <div class="row" id="file-upload-row">

            <div class="col-lg-12">
                {{formInputControl 
                    type="text" 
                    name="lockbox_filepath" 
                    id="lockbox_filepath"
                    label="File:"
                    inline=true
                    liveComponent=false
                    helpText="Please provide a file to upload"
                 }}

                 <div class="form-group">
                    <button class="btn btn-default" id="btn-attach-file">
                        <i class="fa fa-upload"></i>&nbsp;{{_ "Attach"}}
                    </button>
                 </div>

                {{formInputControl 
                        type="select"
                        inline=true
                        label="Mapping:" 
                        name="lockbox_mapping" 
                        id="lockbox_mapping" 
                        liveComponent=false 
                        options=mapping
                        optionKey="Key"
                        optionVal="Value"
                        helpText="A mapping type is required"
                    }}

                <div class="form-group">
                    <button class="btn btn-primary margin-right-10" id="btn-process-file">
                        <i class="fa"></i>{{_ "Submit"}}
                    </button>                    
                </div>

                 <input type="hidden" name="lockbox_raw_data" id="lockbox_raw_data">
                 <input type="hidden" name="lockbox_data64" id="lockbox_data64">
            </div>

        </div>

    </form>
        
{{/containerBlock}}

<div class="row margin-top-10">
    <div class="col-lg-12">

        <ul class="nav nav-tabs bordered" id="result-tabs">
            <li class="active">
                <a href="#result-area" data-toggle="tab">{{_ "Result"}}</a>
            </li>          
        </ul>

        <div class="tab-content padding-10">
            
            <div id="result-area" class="tab-pane active">
                <div class="alert alert-success">
                    <i class="fa fa-info-circle"></i> {{_ "Please upload your file to begin."}}
                </div>
            </div>

        </div>
    </div>
</div>