<!-- 1 row, 2 cols-->
<div class="row">
    
    <!-- Search and table viewer -->
    <div class="col-lg-7">
        <div class="row">

            <div class="col-lg-12">
                
                <form id="search_form" name="search_form" class="form-inline">
                    {{formInputControl 
                        type="text"
                        inline=true
                        placeholder=""
                        label="Find:" 
                        name="search_keywords" 
                        id="search_keywords" 
                        liveComponent=false 
                        helpText="Keywords are required"
                    }}

                    {{formInputControl 
                        type="select"
                        inline=true
                        label="Line type:" 
                        name="search_filter_linetypes" 
                        id="search_filter_linetypes" 
                        defaultOptionName="Please select a type..."
                        liveComponent=false 
                        options=searchFiltersLineTypes
                        optionKey="Key"
                        optionVal="Value"
                        helpText="Line type is required"
                    }}

                    <!-- Will be dynamically filled everytime a line type is chosen -->
                    {{formInputControl 
                        type="select"
                        inline=true
                        label="Field:" 
                        name="search_filter_fields" 
                        id="search_filter_fields" 
                        defaultOptionName="Please select a field..."
                        liveComponent=false 
                        disabled=true
                        helpText="Field is required"
                    }}

                    <div id="fg-find-search" class="form-group">          
                        <button id="btn-find-search" class="btn btn-default">
                                <i class="fa fa-search"></i>&nbsp;{{_ "Search" }}
                        </button>                
                    </div>

                    <div id="fg-find-prev" class="form-group">          
                        <button id="btn-find-prev" class="btn btn-default" disabled="">
                               <i class="fa fa-chevron-left"></i>
                        </button>                
                    </div>

                    <div id="fg-find-next" class="form-group">          
                        <button id="btn-find-next" class="btn btn-default" disabled="">
                               <i class="fa fa-chevron-right"></i>
                        </button>                
                    </div>

                </form>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12" id="table-raw-string">
                {{dataTable data columns=colMap}}
            </div>            
        </div>    

    </div>

    <!-- Details -->
    <div class="col-lg-5">
        
        <div class="well" id="col-parsed-details">
            <div class="form-horizontal">
                <div id="text-raw-string" 
                     class="form-control">
                </div>
            </div>

            <div class="form-group">
                <table class="table table-bordered" id="tbl-line-type">
                    <thead>
                        <tr>
                            <td>{{_ "Line Type"}}</td>
                            <td>{{_ "Description"}}</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="form-group">
                <table class="table table-bordered table-hover" id="tbl-parsed-details">
                    <thead>
                        <tr>
                            <td>{{_ "Position"}}</td>
                            <td>{{_ "Field"}}</td>
                            <td>{{_ "Value"}}</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <input type="hidden" id="tmp_json">
            </div>
        </div>

    </div>


</div>