<div class="row">
    <div class="col-lg-6">
        <form class="form-inline" method="POST" id="frm-bixg-calculator" name="frm-bixg-calculator">

            <table class="table table-bordered table-calculator" id="tbl-bixg-calculator">
                <thead>
                    <td>{{_ "Amounts"}}</td>
                    <td>&nbsp;</td>
                </thead>

                <tbody>
                    <tr>
                        <td>{{_ "Full Bridger Insight XG Contract amount"}}</td>
                        <td>
                            {{formInputControl 
                                type="text" 
                                name="calc_contract_amt" 
                                id="calc_contract_amt"       
                                inline=true
                                liveComponent=false           
                             }}
                             <div class="form-group">
                                <i 
                                    data-toggle="tooltip"
                                    class="fa fa-info-circle tooltip-help" 
                                    id="tip_contract_amount"
                                    title="Should be numeric and positive" 
                                 ></i> 
                            </div>
                        </td>   
                    </tr>
                    <tr>
                        <td>{{_ "Percentage discount applied"}}</td>
                        <td>
                            {{formInputControl 
                                type="text" 
                                name="calc_discount" 
                                id="calc_discount"       
                                inline=true
                                liveComponent=false                            
                             }}
                            <div class="form-group">
                                 <i 
                                    data-toggle="tooltip"
                                    class="fa fa-info-circle tooltip-help"
                                    id="tip_discount"
                                    title="Should be numeric and bet. 1-100"
                                ></i>       
                            </div>
                        </td>
                    </tr>
                    <tr>
                       <td>{{_ "Tier customer support provided"}}</td>
                       <td>
                            {{formInputControl 
                                type="select"
                                inline=true
                                name="calc_tier" 
                                id="calc_tier" 
                                liveComponent=false                             
                            }}
                            <div class="form-group" id="fg-tooltip-tier">
                                <i 
                                    data-toggle="tooltip"
                                    class="fa fa-info-circle tooltip-help"
                                    id="tip_tier"
                                    title="Support tier is required"
                                ></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>       
    </div>

    <div class="col-lg-6"> 
        <form class="form-inline" name="frm-bixg-totals" id="frm-bixg-totals">
            <!-- for layout only, no submissions -->
            <table class="table table-bordered table-calculator" id="tbl-bixg-totals ">

                <thead>
                    <td>{{_ "Total"}}</td>
                    <td>&nbsp;</td>
                </thead>

                <tbody>
                    <tr>
                        <td>{{_ "Bridger Insight XG Premier Support Fee"}}</td>
                        <td>
                            {{formInputControl 
                                type="text" 
                                name="calc_total_fee" 
                                id="calc_total_fee"
                                inline=true
                                readonly=true
                                liveComponent=false
                             }}
                             <div class="form-group">
                                <button type="button"
                                    id="btn-copy-fee" 
                                    class="btn btn-default"
                                    data-toggle="tooltip"
                                    title="Copy to clipboard">
                                   <i class="fa fa-copy"></i>
                                </button>
                             </div>                           
                        </td>
                    </tr>
                    <tr>
                        <td>{{_ "Bridger Insight XG Premier License"}}</td>
                        <td>
                            {{formInputControl 
                                type="text" 
                                name="calc_total_license" 
                                id="calc_total_license"                                
                                inline=true
                                readonly=true
                                liveComponent=false
                             }}
                             <div class="form-group">
                                <button type="button" 
                                    id="btn-copy-license" 
                                    class="btn btn-default"
                                    data-toggle="tooltip"
                                    title="Copy to clipboard">
                                   <i class="fa fa-copy"></i>
                                </button>
                             </div>                         
                        </td>   
                    </tr>
                </tbody>
            </table>    
        </form>       
    </div>    
</div>

<div class="row" id="row-action-buttons">
    <div class="col-lg-12">
        <div class="form-actions">
            <div class="form-group">
                <button type="reset" class="btn margin-right-10" id="btn-reset">
                    <i class="fa"></i>Reset
                </button>    
                <button type="submit" class="btn btn-primary margin-right-10" id="btn-calculate">
                    <i class="fa"></i>Calculate
                </button>
            </div> 
        </div>
    </div> 
</div>